* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth; /*A rolagem do botão principal fica mais suave*/
}

body{
    font-size: 100%;
    background: linear-gradient(180deg, rgba(255,252,235,1) 0%, rgba(224,177,203,1) 37%, rgba(94,84,142,1) 100%);

}

::selection{
    color: #9F86C0; 
    background-color: #231942;
}

main{
    height: 100vh;
}

/*Menu superior*/

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 25vw;
    padding: 4vh;
}

.cabecalhoLogo{
    height: 8vh;
}

.cabecalhoMenu{
    display: flex;
    gap: 1.5vw;
}

.itemCabecalho{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #231942;
    transition: 0.3s;
}

.itemCabecalho:hover{
    transform: scale(1.1);
    color: #BE95C4;
}

/*Principal*/

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin: 15vh;
}

.home-imagem{
    width: 25vw;
}

.home-texto{
    max-width: 30vw;
}

h1{
    font-family: 'Melodrama', serif;
    color: #231942;
    font-size: 55px;
}

h3{
    font-family: 'Nunito', sans-serif;
    color: #5E548E;
    font-size: 20px;
}

.home-botao{
    margin-top: 1vh;
}

button{
    background: #5E548E;
    opacity: 0.48;
    box-shadow: 0px 4px 4px rgba(35, 25, 66, 0.35);
    border-radius: 10px;
    border: 1px solid #E0B1CB;
    border-top: 0;
    cursor: pointer;
    font-family: 'Melodrama', serif;
    font-size: 30px;
    color: #FFFCEB;
    padding: 8px 38px;
    transition: 0.3s;
}

button:hover{
    background: #9F86C0;
    transform: scale(1.1);
}

/*Sobre*/

.container-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

/*Pag Contato*/

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    height: 80vh;
}

.informacoesDeContato{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #231942;
    margin-top: 5px;
}

.informacoesDeContato .tituloContatos{
    font-family: 'Melodrama', serif;
}

label {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #231942;
    margin-left: 1vw;
}

input, textarea{
    display: block;
    width: 95%;
    margin: 8px auto;
    border: none;
    border-radius: 5px;
    background: #FFFCEB;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    resize: none;
}

.form-botao{
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.form-botao button{
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 3vh;
}

fieldset{
    border-radius: 15px;
    border: none;
    padding: 5px;
    background: linear-gradient(180deg, rgba(224,177,203,0.08587184873949583) 0%, rgba(224,177,203,1) 46%, rgba(159,134,192,1) 100%);
    margin: 5px;
    padding: 1vw;
    width: 25vw;
}

/* Redes sociais */

.container-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.redesSociais{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    color: #231942;
    margin: 5px;
    transition: 0.3s;
}

.redesSociais:hover{
    transform: scale(1.1);
}

/*Footer*/

footer{
    background: #5E548E;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Melodrama', serif;
    color: #231942;
    font-size: 20px;
    padding: 1vh;
}

.imgFooter{
    width: 2vw;
}

/*Media query*/

@media screen and (max-width: 480px) {

    .cabecalhoLogo{
        display: none;
    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-texto{
        text-align: center;
    }

    .home-imagem{
        width: 45vw;
    }

    h1{
        font-size: 18px;
    }

    h3{
        font-size: 10px;
    }

    button{
        display: none;
    }

    .rodape{
        font-size: 15px;
    }

    .informacoesDeContato{
        font-size: 15px;
    }

    .contato{
        display: flex;
        height: 80vh;
    }

    fieldset{
        margin-bottom: 5vh;
        width: 70vw;;
    }

    label{
        font-size: 15px;
        margin: 5vw;
    }

    input, textarea{
        font-size: 15px;
        margin: 2px auto;
    }

    .redesSociais{
        font-size: 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .itemCabecalho{
        font-size: 15px;
    }

    .home-texto{
        max-width: 35vw;
    }

    h1{
        font-size: 22px;
    }

    h3{
        font-size: 15px;
    }

    button{
        font-size: 15px;
        padding: 5px 20px;
    }

    .home-imagem{
        min-width: 30vw;
    }

    .rodape{
        font-size: 15px;
    }

    .container-sobre{
        height: 70vh;
    }

    .informacoesDeContato{
        font-size: 15px;
    }

    .contato{
        display: flex;
        flex-direction: row;
    }

    fieldset{
        margin-bottom: 2vh;
        width: 40vw;
    }

    label{
        font-size: 15px;
        margin: 2vw;
    }

    input, textarea{
        font-size: 15px;
        margin: 2px auto;
    }

    .form-botao button{
        font-size: 15px;
    }

    .redesSociais{
        font-size: 25px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .container{
        margin: 8vh;
    }

    .home-texto{
        min-width: 25vw;
        max-width: 30vw;
    }

    h1{
        font-size: 30px;
    }

    h3{
        font-size: 15px;
    }

    button{
        font-size: 15px;
        padding: 5px 25px;
    }

    .home-imagem{
        min-width: 30px;
        max-width: 35vw;
    }

    .rodape{
        font-size: 20px;
    }

    .informacoesDeContato{
        font-size: 18px;
    }

    .contato{
        display: flex;
        flex-direction: row;
    }

    fieldset{
        margin-bottom: 2vh;
        width: 35vw;
    }

    label{
        font-size: 15px;
        margin: 3vw;
    }

    input, textarea{
        font-size: 15px;
        margin: 2px auto;
    }

    .form-botao button{
        font-size: 18px;
    }

    .redesSociais{
        font-size: 25px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
    .home-texto{
        max-width: 30vw;
    }

    h1{
        font-size: 38px;
    }

    h3{
        font-size: 20px;
    }

    button{
        font-size: 25px;
        padding: 5px 30px;
    }

    .contato{
        display: flex;
        flex-direction: row;
    }

    fieldset{
        margin-bottom: 2vh;
        width: 35vw;
    }

    label{
        font-size: 15px;
        margin: 3vw;
    }

    input, textarea{
        font-size: 15px;
        margin: 2px auto;
    }

    .form-botao button{
        font-size: 18px;
    }

    .redesSociais{
        font-size: 30px;
    }
}   