* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth; /*A rolagem do botão principal fica mais suave*/
}

body{
    font-size: 100%;
    background: linear-gradient(180deg, rgba(224,177,203,1) 18%, rgba(159,134,192,1) 100%);

}

::selection{
    color: #9F86C0; 
    background-color: #231942;
}

main{
    height: 100vh;
}

/*Menu superior*/

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 25vw;
    padding: 4vh;
}

.cabecalhoLogo{
    height: 5vh;
}

.cabecalhoMenu{
    display: flex;
    gap: 1.5vw;
}

.itemCabecalho{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #231942;
    transition: 0.3s;
}

.itemCabecalho:hover{
    transform: scale(1.1);
    color: #BE95C4;
}

/*Principal*/

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin: 15vh;
}

.home-imagem{
    width: 25vw;
}

h1{
    font-family: 'Melodrama', serif;
    color: #231942;
    font-size: 55px;
}

h3{
    font-family: 'Nunito', sans-serif;
    color: #5E548E;
    font-size: 20px;
}

.home-botao{
    margin-top: 1vh;
}

button{
    background: #5E548E;
    opacity: 0.48;
    box-shadow: 0px 4px 4px rgba(35, 25, 66, 0.35);
    border-radius: 10px;
    border: 1px solid #E0B1CB;
    border-top: 0;
    cursor: pointer;
    font-family: 'Melodrama', serif;
    font-size: 30px;
    color: #FFFCEB;
    padding: 8px 38px;
    transition: 0.3s;
}

button:hover{
    background: #9F86C0;
    transform: scale(1.1);
}

/*Sobre*/

.container-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

/*Pag Contato*/

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    height: 100vh;
}

.informacoesDeContato{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #231942;
    margin-top: 5px;
}

.informacoesDeContato .tituloContatos{
    font-family: 'Melodrama', serif;
}

input, textarea{
    display: block;
    width: 80%;
    margin: 8px auto;
    border: none;
    border-radius: 5px;
    background: #FFFCEB;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    resize: none;
}

.form-botao{
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.form-botao button{
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 3vh;
}

label {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #231942;
    margin: 38px;
}

fieldset{
    border-radius: 15px;
    border: none;
    padding: 5px;
    background: linear-gradient(180deg, rgba(224,177,203,0.08587184873949583) 0%, rgba(224,177,203,1) 46%, rgba(159,134,192,1) 100%);
    margin: 5px;
    width: 30vw;
    padding: 3vw;
}

/* Redes sociais */

.container-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.redesSociais{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    color: #231942;
    margin: 5px;
    transition: 0.3s;
}

.redesSociais:hover{
    transform: scale(1.1);
}

/*Footer*/

footer{
    background: #5E548E;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Melodrama', serif;
    color: #231942;
    font-size: 20px;
    padding: 1vh;
}

.imgFooter{
    width: 2vw;
}

/*Media query*/

